
<div ng-if="!projectIndivCtrl.projectData">
  Data is not Loaded

</div>



<div ng-if="projectIndivCtrl.projectData">
  

  <div class="indivProjectPresetSelect">
    <md-button class="indivProjectSave" ng-click="projectIndivCtrl.SaveProject()">Save</md-button>
      <md-button id="template{{$index}}" ng-click="projectIndivCtrl.setPreset($index, template['$id']); projectIndivCtrl.selectedToolSet('preset');" class="indivProjectPresetSelectEachPreset" ng-repeat="template in projectIndivCtrl.templates">
        {{template['$value']}}

      </md-button>
  </div>

  <!--Project EDIT DIVS -->
  <div class="indivProjectEditSquareEdit">
    <a ng-mousedown="projectIndivCtrl.setNodeIN($index)" ng-mouseover="projectIndivCtrl.setNodeMouseOver($index)" ng-mouseup="projectIndivCtrl.setNodeOUT($index)" id="Edit{{ $index }}" class="indivProjectEditSquareEditIndivNode"  ng-repeat="node in projectIndivCtrl.projectDataParsed track by $index">

    </a>
  </div>

  <div class="indivProjecthighlightDiv">
    <div id="High{{ $index }}" class="indivProjectEditSquareDisplayIndivNode" ng-repeat="node in projectIndivCtrl.projectDataParsed track by $index">

    </div>
  </div>

  <div class="indivProjectEditSquareDisplay">
    <div id="Display{{ $index }}" class="indivProjectEditSquareDisplayIndivNode" ng-repeat="node in projectIndivCtrl.projectDataParsed track by $index">

    </div>
  </div>

  <div class="indivProjectEditSquareDisplay" style="opacity: .5;">
    <div id="LastFrameDisplay{{ $index }}" class="indivProjectEditSquareDisplayIndivNode" ng-repeat="node in projectIndivCtrl.projectDataParsed track by $index">

    </div>
  </div>

  <div class="indivProjectEditVeryBottomDisplay">

  </div>

  <!-- End Project EDIT DIVS-->

  <div class="indivProjectEditChooseFrameDiv">
    <md-button class="indivProjectEditChooseFrameDivCurrentFrame">
      {{projectIndivCtrl.currentFrame}}
    </md-button>

    <!-- repeats selectors for each frame in the project-->
    <div class="indivProjectEditChooseFrameDivSelectFrameDiv">
      <a id="currentFrame{{$index}}" ng-click="projectIndivCtrl.setFrameNumber($index)" class="indivProjectEditChooseFrameDivEachFrame" ng-repeat="frame in projectIndivCtrl.projectDataParsed[0] track by $index">
        {{$index}}
      </a>
    </div>

  </div>

  <div class="indivProjectPlayPauseDiv">
    <md-button class="indivProjectPlayPause" ng-click="projectIndivCtrl.playShow()" ng-if="projectIndivCtrl.isplaying != 'true'" style="background-color:#4CAF50;">play</md-button>
    <md-button class="indivProjectPlayPause" ng-click="projectIndivCtrl.pauseShow()" ng-if="projectIndivCtrl.isplaying == 'true'" style="background-color:#f44336;">pause</md-button>
    <md-button class="indivProjectPlayFromBegin" ng-click="projectIndivCtrl.PlayFromBegin()" style="background-color:#FF9800;">Play from start</md-button>
    <div style="float: left; width: 1px; height: 150%;">

    </div>
    <div class="indivProjectAudioDiv">
      <md-button ng-click="projectIndivCtrl.volumeUp()" class="md-fab" aria-label="Eat cake" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray;">
          <i class="material-icons" style="line-height: 50px;">volume_up</i>
      </md-button>
      <md-button ng-click="projectIndivCtrl.volumeDown()" class="md-fab" aria-label="Eat cake" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray;">
          <i class="material-icons" style="line-height: 50px;">volume_down</i>
      </md-button>
      <md-button ng-click="projectIndivCtrl.volumeMute()" class="md-fab" aria-label="Eat cake" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray;">
          <i class="material-icons" style="line-height: 50px;">volume_off</i>
      </md-button>

    </div>


    <audio id="songHolder" controls style="display: none;">
      <source src="error.ogg" type="audio/ogg">
      <source src="error.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>

  <div class="indivProjectEditChooseColorDiv">
    <md-button class="indivProjectEditChooseColorSelectedColor" style="background-color: {{projectIndivCtrl.SelectedColor.colorHex}}">
      {{ projectIndivCtrl.SelectedColor.colorHex }}
    </md-button>
    <div class="indivProjectEditChooseColorDivScroll">
      <md-button ng-click="projectIndivCtrl.setColor($index)" class="indivProjectEditChooseColorSelectAColor" ng-repeat="color in projectIndivCtrl.ColorPalate track by $index" style="background-color: {{color}}" >

      </md-button>
    </div>

  </div>

  <div class="indivProjectTools">
    <div style="width: 1px; height: 120%; float: left;">

    </div>
    <div class="indivProjectToolsDiv">
      <md-button id="square" ng-click="projectIndivCtrl.selectedToolSet('square');" class="md-fab" aria-label="Rectangle" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: #4CAF50;" >
          <i class="material-icons" style="line-height: 50px;">crop_square</i>
      </md-button>
      <md-button id="draw" ng-click="projectIndivCtrl.selectedToolSet('draw');" class="md-fab" aria-label="Draw" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray;">
          <i class="material-icons" style="line-height: 50px;">create</i>
      </md-button>
      <md-button id="preset" ng-click="projectIndivCtrl.selectedToolSet('preset');" class="md-fab" aria-label="Preset" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray;">
          <i class="material-icons" style="line-height: 50px;">extension</i>
      </md-button>

      <md-button id="showLastFrameTrue" ng-click="projectIndivCtrl.ShowLastFrame('false');" class="md-fab" aria-label="Preset" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: #4CAF50;">
          <i class="material-icons" style="line-height: 50px;">border_outer</i>
      </md-button>
      <md-button id="ShowLastFrameFalse" ng-click="projectIndivCtrl.ShowLastFrame('true');" class="md-fab" aria-label="Preset" style="width: 50px; height: 50px; float: left; margin-top: 2.5%; background-color: gray; display: none;">
          <i class="material-icons" style="line-height: 50px;">border_outer</i>
      </md-button>

    </div>

  </div>





</div>
