body {
  margin: 0;
}

.headerDiv {
  background-color: #212121;
  height: 55px;
  width: calc(100vw - 1px);
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.headerDivLogo {
  float: right;
  margin: 18px -1px;
  max-height: 25px;
  max-width: 25vw;
}

.showSelectDiv {
  width: 100vw;
  height: 75px;
  background-color: white;
  line-height: 100px;
  color: #212121;
  float: left;
  font-family: Arial;
  font-size: 18px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
}

.displayDiv {
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  line-height: 100vh;
  color: white;
  font-size: 40px;
  font-family: Arial;
}

.pageDisplay {
  float: left;
  color: white;
  text-indent: 12px;
  height: 55px;
  margin: 0;
  line-height: 55px;
  font-family: Arial;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50vw;
}

.showSelectTitle {
  margin: 20px 0px 0px 0px;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  background-color: #2196F3;
  float: left;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50vw;
}

.showSelectVenue {
  margin: 0;
  height: 23px;
  line-height: 23px;
  font-size: 16px;
  text-indent: 20px;
  margin-right: 100vw;
  float: left;
  width: 50vw;

  }
  .showSelectTitle {
  margin: 18px 0px 0px 0px;
  height: 30px;
  line-height: 33px;
  text-indent: 20px;
  background-color: #2196F3;
  float: left;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80vw;
  font-size: 18px;
}

.showSelectVenue {
  margin: 0;
  height: 23px;
  line-height: 19px;
  text-indent: 20px;
  margin-right: 100vw;
  float: left;
  width: 80vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}

.seatSelectShowName {
  width: 100vw;
  text-align: center;
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  top: calc(50vh - 260px);
  color: #212121;
}

.seatSelectNo {
  width: 100vw;
  text-align: center;
  position: absolute;
  font-family: Arial;
  font-size: 40px;
  top: calc(50vh - 219px);
  color: #757575;
}

.seatSelectInput {
  width: 90vw;
  left: 5vw;
  position: absolute;
  height: 100px;
  top: calc(50vh - 126px);
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  border-radius: 4px;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  color: #212121;
}

.seatSelectSubmit {
  position: absolute;
  width: 90vw;
  height: 75px;
  left: 5vw;
  top: calc(50vh + 22px);
  background-color: #29B6F6;
  color: white;
  font-family: Arial;
  font-size: 25px;
  border-radius: 2px;
  border-color: #03A9F4;
  border-width: 1px;
  border-style: solid;
}
