<md-card class="homepageTemplatesDiv" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch layout="column" ng-repeat="template in templatesCtrl.templates">
    <div class="homepageTemplatesColorDiv">

    </div>
    <div layout="row">
      <div class="homepageTemplatesInfoDiv">
        <h1 class="homepageTemplatesTemplateName">{{template['$value']}}</h1>

      </div>

      <div layout="column">

        <md-button class="hompageTemplatesDivPlay" ng-click="templatesCtrl.deleteTemplate(template['$id'])"><i class="material-icons">delete</i> Delete</md-button>

      </div>
    </div>


 </md-card>
