<section layout="row" flex style="height: 100vh; width: 100vw"  style="min-width: 1100px;">
  <md-sidenav id="sidenavDivID" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
   <md-toolbar class="md-hue-2" style="background-color:#424242; color:#EEEEEE; height: 200px;">
     <span flex></span>
     <div layout="column" class="md-toolbar-tools-bottom inset">
       <div >
         <img class="homepageProfilePic" src="{{ homepageCtrl.userProfile.photoURL }}" ng-if="homepageCtrl.userProfile.photoURL"/>
         <div class="homepageProfilePicNoPic" ng-if="!homepageCtrl.userProfile.photoURL">
            <i class="material-icons" style="width: 89px; height: 89px; text-align: center; line-height: 95px; font-size: 35px;">sync</i>
         </div>
       </div>
       <span></span>
       <div class="homepageProfileDisplayName">{{ homepageCtrl.profile.displayName }}</div>
       <div class="homepageProfileEmail">{{ homepageCtrl.userProfile.email }}</div>
     </div>
   </md-toolbar>
   <md-list>
   <md-item ng-repeat="item in homepageCtrl.menu">
     <md-button ui-sref="homepage.{{item.link}} " md-ink-ripple layout="row" layout-align="start center" style="width: 100%; padding: 0px; margin: 0;">
       <div class="inset" style="line-height: 0px;">
         <i class="material-icons" >{{item.icon}}</i>
       </div>
       <div class="inset">{{item.title}}
       </div>
     </md-button>
   </md-item>
   <md-divider></md-divider>




   <md-subheader>Management</md-subheader>
   <md-item>
     <a>
       <md-button md-ink-ripple layout="row" md-ink-ripple layout="row" layout-align="start center" style="width: 100%; padding: 0px; margin: 0;" ui-sref="profile">
         <div class="inset" style="line-height: 0px;">
           <i class="material-icons" >settings</i>
         </div>
         <div class="inset">
           Settings
         </div>
       </md-button>
     </a>
   </md-item>
   <md-item>
     <a>
       <md-button md-ink-ripple layout="row" md-ink-ripple layout="row" layout-align="start center" style="width: 100%; padding: 0px; margin: 0;" ng-click="homepageCtrl.logout()">
         <div class="inset" style="line-height: 0px;">
          <i class="material-icons">lock_outline</i>
         </div>
         <div class="inset">
           LOGOUT
         </div>
       </md-button>
     </a>
   </md-item>

   <md-divider></md-divider>

   <md-item>
     <a>
       <md-button md-ink-ripple layout="row" md-ink-ripple layout="row" layout-align="start center" style="width: 100%; padding: 0px; margin: 0;" ng-click="homepageCtrl.closeSidenav()">
         <div class="inset" style="line-height: 0px;">
          <i class="material-icons">arrow_back</i>
         </div>
         <div class="inset">
           Minimize SideNav
         </div>
       </md-button>
     </a>
   </md-item>

  </md-list>
  </md-sidenav>
  <button ng-click="homepageCtrl.logout($event)">log out</button>

  <div class="homepageTopBar" id="homepageTopBarDiv">
    <i class="material-icons" ng-click="homepageCtrl.openSideNav()" ng-if="homepageCtrl.sideNavState == 'closed'" id="menubuttonicon">menu</i>
    <i class="homepageCurrentPageIcon material-icons" ng-if="homepageCtrl.currentPage.pageVar == 'Projects'">dashboard</i>
    <i class="homepageCurrentPageIcon material-icons" ng-if="homepageCtrl.currentPage.pageVar == 'Templates'">invert_colors</i>
    <i class="homepageCurrentPageIcon material-icons" ng-if="homepageCtrl.currentPage.pageVar == 'Playlists'">menu</i>
    <h1 class="homepageCurrentPage">{{homepageCtrl.currentPage.pageVar}}</h1>
    <img class="homepgeTopbarLogo" src="images/lightShow.png"/>
  </div>

  <md-button id="homepageProjectsAddFab" ui-sref="homepage.newproject" class="md-fab md-primary md-hue-2" aria-label="Profile" ng-if="homepageCtrl.currentPage.pageVar == 'Projects'">
    <i class="homepageProjectsAddFabPlus material-icons">add</i>
  </md-button>

  <md-button id="homepageProjectsAddFab" ui-sref="homepage.newtemplate" class="md-fab md-primary md-hue-2" aria-label="Profile" ng-if="homepageCtrl.currentPage.pageVar == 'Templates'">
    <i class="homepageProjectsAddFabPlus material-icons">add</i>
  </md-button>

  <md-button id="homepageProjectsAddFab" class="md-fab md-primary md-hue-2" aria-label="Profile" ng-if="homepageCtrl.currentPage.pageVar == 'Playlists'">
    <i class="homepageProjectsAddFabPlus material-icons">add</i>
  </md-button>

  <ui-view class="homepageUIView" id="homepageUIViewDiv"></ui-view>



</section>
