<!--
<div class="page-header">
    <h1>Set Username</h1>
  </div>

  <form ng-submit="profileCtrl.updateProfile()">
    <p ng-hide="profileCtrl.profile.displayName">
      Make this account your own with a username
    </p>

    <div class="input-group">
      <input required type="text" class="form-control" placeholder="UserName" ng-model="profileCtrl.profile.displayName">
    </div>
    <input type="submit" class="btn btn-default" value="Set UserName">
  </form>
-->

  <div style="height: 100vh; width: 100vw; background-color: #212121;">



    <img class="loginTopLogo" src="images/lightShow.png"/>

    <md-content md-theme="docs-dark" layout-gt-sm="column" layout-align="center center" layout-padding flex="100" style="background-color: #212121;">

      <h1 class="loginHeader">Set Display Name</h1>
      <form ng-submit="profileCtrl.updateProfile()"  layout-gt-sm="column" layout-align="center center" layout-padding flex="100" style="background-color: #212121;">
         <md-input-container style="width: 515px;">
           <label style="color: #EEEEEE;">Display Name</label>
           <input type="text" style="border-bottom-color: #EEEEEE; color: white;" ng-model="profileCtrl.profile.displayName">
         </md-input-container>

         <md-button type="submit" style="width:500px; height: 55px; background-color: #00b4f5; color: white; font-size: 22px;">
           Submit
         </md-button>
        </form>
     </md-content>

  </div>
