body {

}

.homepageTopBar {
  width: calc(100vw - 320px);
  height: 59px;
  background-color: #212121;
  position: absolute;
  left: 320px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.homepageUIView {
  position: absolute;
  top: 60px;
  left: 320px;
  width: calc(100vw - 340px);
  padding: 10px;
  height: calc(100vh - 80px);
  overflow: auto;
  background-color: #EEEEEE;
}

.homepageProjectsColorDiv {
  width: 100%;
  height: 5px;
  background-color: #4CAF50;
  float: left;
}

.homepageProjectsDiv {
  width: 495px;
  float: left;
}

.homepageProjectsTitle {

position: absolute;

top: -68px;

z-index: 28;
}

.homepageProjectsInfoDiv {
  width: 384px;
  height: 320px;
  float: left;
  background-color: #212121;
}

.homepageProjectsInfoDiv:hover{
  background-color: #424242;
}

.homepageProjectsProjectName {
  float: left;
  width: 280px;
  background-color: #66BB6A;
  padding: 10px;
  margin-top: 34px;
  color: white;
  font-size: 27px;
}

.homepageProjectsSongTitle {
  float: left;
  max-width: 280px;
  padding: 10px;
  margin-top: 122px;
  margin-bottom: 0;
  color: white;
}

.homepageProjectsLastEdit {
  float: left;
  max-width: 280px;
  background-color: white;
  padding: 10px;
  margin: 0 0;
  margin-right: 150px;
  font-size: 16px;
}

.hompageProjectsDivEditBtn {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}

.hompageProjectsDivPlay {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}

.homepageProfilePic {
  background-color: #424242;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  margin: 5px;
}

.homepageProfilePicNoPic {
  background-color: #2196F3;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  margin: 5px;
}

.homepageProfileDisplayName {
  margin-bottom: 7px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.homepageProfileEmail {
  font-size: 12px;
  margin-bottom: 12px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homepgeTopbarLogo {
  height: 26px;
  margin: 17px;
  float: right;

}

.homepageTemplatesColorDiv {
  width: 100%;
  height: 5px;
  background-color: #FF5722;
  float: left;
}

.homepageTemplatesDiv {
  width: 495px;
  float: left;
}

.homepageTemplatesTitle {
  position: absolute;
  top: -68px;
  z-index: 28;
}

.homepageTemplatesInfoDiv {
  width: 384px;
  height: 320px;
  float: left;
  background-color: #212121;
}

.homepageTemplatesInfoDiv:hover{
  background-color: #424242;
}

.homepageTemplatesTemplateName {
  float: left;
  width: 280px;
  background-color: #FF5722;
  padding: 10px;
  margin-top: 34px;
  color: white;
  font-size: 27px;
}

.homepageTemplatesSongTitle {
  float: left;
  max-width: 280px;
  padding: 10px;
  margin-top: 122px;
  margin-bottom: 0;
  color: white;
}

.homepageTemplatesLastEdit {
  float: left;
  max-width: 280px;
  background-color: white;
  padding: 10px;
  margin: 0 0;
  margin-right: 150px;
  font-size: 16px;
}

.hompageTemplatesDivEditBtn {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}

.hompageTemplatesDivPlay {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}
