body {

}

.loginTopLogo {
  height: 26px;
  margin: 17px;
  float: left;
}

.loginTopRegisterLink {
  float: right;
  background-color: #1b96fe;
  margin: 20px;
  color: white;
}

.loginSyncLogo {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 70px;
  color: white;
  margin-top: 15px;
  text-indent: -18px;
  text-align: center;
}

.LoginExternalAuthSignInDiv {
  margin: 18px;
}

.loginExternalAuthButton {
  background-color: #da4c22;
  color: white;
  height: 50px;
  width: 150px;
  line-height: 60px;
  padding: 0px;
}

.loginHeader {
  margin-top: calc(50vh - 225px);
  color: white;
  font-size: 42px;
  width: 100%;
  text-align: center;
}



.homepageTopBar {
  width: calc(100vw - 320px);
  height: 59px;
  background-color: #212121;
  position: absolute;
  left: 320px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

#menubuttonicon {

color: white;

float: left;

margin: 12px 0px 12px 12px;

font-size: 35px;
}

.homepageCurrentPageIcon {
  float: left;
  color: white;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  margin-right: -30px;
}

.homepageCurrentPage {
  margin: 0;
  line-height: 59px;
  float: left;
  color: white;
  text-indent: 20px;
}

.homepageUIView {
  position: absolute;
  top: 60px;
  left: 320px;
  width: calc(100vw - 320px);
  height: calc(100vh - 60px);
  overflow: auto;
  background-color: #EEEEEE;
}

#homepageProjectsAddFab {
  background-color: #40C4FF;
  position: absolute;
  bottom: 10vh;
  right: 6vw;
  height: 70px;
  width: 70px;
}

.homepageProjectsAddFabPlus {
    font-size: 50px;
    line-height: 70px;
    color: white;
}

.homepageProjectsColorDiv {
  width: 100%;
  height: 5px;
  background-color: #4CAF50;
  float: left;
}

.homepageProjectsDiv {
  width: 450px;
  float: left;
}

.homepageProjectsTitle {
  position: absolute;
  top: -68px;
  z-index: 28;
}

.homepageProjectsInfoDiv {
  width: 335px;
  height: 279px;
  float: left;
  background-color: #212121;
}


.homepageProjectsInfoDiv:hover{
  background-color: #1a1a1a;
}

.homepageProjectsProjectName {
  float: left;
  width: 280px;
  background-color: #66BB6A;
  padding: 10px;
  margin-top: 34px;
  color: white;
  font-size: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepageProjectsSongTitle {
  float: left;
  width: 314px;
  padding: 10px;
  margin-top: 86px;
  margin-bottom: 0;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepageProjectsLastEdit {
  float: left;
  max-width: 226px;
  background-color: white;
  padding: 10px;
  margin: 0 0px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hompageProjectsDivEditBtn {
  width: 115px;
  height: 140px;
  float: left;
  margin: 0;
  padding: 0;
}

.hompageProjectsDivPlay {
  width: 115px;
  height: 140px;
  float: left;
  margin: 0;
  padding: 0;
}

.homepageProfilePic {
  background-color: #424242;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #757575;
}

.homepageProfilePicNoPic {
  background-color: #2196F3;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  margin: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #757575;
}

.homepageProfileDisplayName {
  margin-bottom: 7px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  margin-left: 8px;
}

.homepageProfileEmail {
  font-size: 12px;
  margin-bottom: 12px;
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}

.homepgeTopbarLogo {
  height: 20px;
  margin: 20px;
  float: right;
}

.homepageTemplatesColorDiv {
  width: 100%;
  height: 5px;
  background-color: #FF5722;
  float: left;
}

.homepageTemplatesDiv {
  width: 495px;
  float: left;
}

.homepageTemplatesTitle {
  position: absolute;
  top: -68px;
  z-index: 28;
}

.homepageTemplatesInfoDiv {
  width: 384px;
  height: 320px;
  float: left;
  background-color: #212121;
}

.homepageTemplatesInfoDiv:hover{
  background-color: #424242;
}

.homepageTemplatesTemplateName {
  float: left;
  width: 280px;
  background-color: #FF5722;
  padding: 10px;
  margin-top: 34px;
  color: white;
  font-size: 27px;
}

.homepageTemplatesSongTitle {
  float: left;
  max-width: 280px;
  padding: 10px;
  margin-top: 122px;
  margin-bottom: 0;
  color: white;
}

.homepageTemplatesLastEdit {
  float: left;
  max-width: 280px;
  background-color: white;
  padding: 10px;
  margin: 0 0;
  margin-right: 150px;
  font-size: 16px;
}

.hompageTemplatesDivEditBtn {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}

.hompageTemplatesDivPlay {
  width: 115px;
  height: 160px;
  float: left;
  margin: 0;
  padding: 0;
}

.projectNewColorPickerDiv {
  float: left;
  width: 728px;
  margin-left: -92px;
}

.uploadPercentDiv {
  height: 32px;
  width: 712px;
  float: left;
  background-color: #757575;
  margin: 0px 0 22px 0;
  border-radius: 3px;
  color: white;
  text-align: center;
  line-height: 32px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px calc(100%) 0px 0px;
    background-color: #E64A19;
    float: left;
    width: 712px;
    color: white;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.newProjectLoadingDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 25;
  background-color: #EEEEEE;
  top: 0;
  left: 0px;
}

.newProjectLoadingDivCircle {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 90px);
}

.indivProjectPresetSelect {
  width: calc(100% - 10px);
  height: 80px;
  background-color: lightgray;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 2px;
}

.indivProjectEditSquareDisplay {
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  position: absolute;
  top: 90px;
  left: calc((100% - (100vh - 160px))/2);
  z-index: 6;
}

.indivProjecthighlightDiv {
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  position: absolute;
  top: 90px;
  left: calc((100% - (100vh - 160px))/2);
  z-index: 8;
}

.indivProjecthighlightDivNode {
  height: calc((100vh - 200px)/20);
  width: calc((100vh - 200px)/20);
  float: left;
  border-style: solid;
  border-width: 1px;

}

.indivProjectEditSquareEdit {
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  position: absolute;
  top: 90px;
  left: calc((100% - (100vh - 160px))/2);
  z-index: 10;
}

.indivProjectEditVeryBottomDisplay {
  width: calc(100vh - 160px);
  height: calc(100vh - 160px);
  position: absolute;
  top: 90px;
  left: calc((100% - (100vh - 160px))/2);
  z-index: 1;
  background-color: gray;
}


.indivProjectEditSquareEditIndivNode {
  height: calc((100vh - 200px)/20);
  width: calc((100vh - 200px)/20);
  float: left;
  border-style: solid;
  border-width: 1px;
}

/*
.indivProjectEditSquareEditIndivNode:hover {
  background-color: white;

}
*/

.indivProjectEditSquareDisplayIndivNode {
  height: calc((100vh - 200px)/20);
  width: calc((100vh - 200px)/20);
  float: left;
  text-align: center;
  line-height: calc((80vh - 200px)/20);
  border-style: solid;
  border-width: 1px;
  opacity: 1;
}


.indivProjectEditChooseFrameDiv {
  background-color: lightgray;
  width: calc(((100% - (100vh - 160px))/2) - 10px);
  position: absolute;
  right: 5px;
  height: calc(80vh - 160px);
  overflow: auto;
  top: 90px;
  border-radius: 2px;
}

.indivProjectEditChooseFrameDivCurrentFrame {
  width: calc(100% - 10px);
  height: 75px;
  background-color: #4CAF50;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  color: white;
  border-radius: 2px;
}

.indivProjectEditChooseFrameDivSelectFrameDiv {
  width: calc(100% - 10px);
  margin-left: 5px;
  height: calc(100% - 90px);
  overflow: auto;
}

.indivProjectEditChooseFrameDivEachFrame {
  width: calc(33.3% - 5px);
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  background-color: gray;
  margin: 2px;
  border-radius: 1px;
  overflow: hidden;
}

.indivProjectPlayPauseDiv {
  background-color: lightgray;
  width: calc(((100% - (100vh - 160px))/2) - 20px);
  position: absolute;
  right: 5px;
  height: calc(20vh - 15px);
  overflow: auto;
  top: calc(80vh - 65px);
  padding: 5px;
  border-radius: 2px;
  overflow: hidden;
}

.indivProjectTools {
  background-color: lightgray;
  width: calc(((100% - (100vh - 160px))/2) - 20px);
  position: absolute;
  left: 5px;
  height: calc(20vh - 15px);
  overflow: auto;
  top: calc(80vh - 65px);
  padding: 5px;
  border-radius: 2px;
  overflow: hidden;
}

.indivProjectEditChooseColorDiv {
  background-color: lightgray;
  width: calc(((100% - (100vh - 170px))/2) - 20px);
  position: absolute;
  left: 5px;
  height: calc(80vh - 170px);
  overflow: auto;
  top: 90px;
  padding-left: 5px;
  border-radius: 2px;
  padding-top: 5px;
}

.indivProjectEditChooseColorSelectedColor {
  width: calc(100% - 5px);
  height: 75px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 75px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
  min-width: 0px;
}

.indivProjectEditChooseColorDivScroll {
  width: 100%;
  height: calc(100% - 85px);
  overflow: auto;
}

.indivProjectEditChooseColorSelectAColor {
  width: calc(33.33% - 5px);
  height: 50px;
  background-color: black;
  float: left;
  margin: 0;
  margin-right: 5px;
  margin-top: 5px;
  min-width: 0px;
}

.indivProjectPlayPause {
  width: 100%;
  height: 45%;
  border-radius: 2px;
  background-color: #4CAF50;
  color: white;
  min-width: 0px;
  margin: 0;
}

.indivProjectPlayFromBegin {
  float: left;
  width: 40%;
  height: 40%;
  background-color: #f44336;
  border-radius: 2px;
  color: white;
  margin: 0px;
  margin-top: 2.5%;
  min-width: 0px;
}

.indivProjectSave {
  float: right;
  background-color: #03A9F4;
  height: calc(100% - 12px);
  width: 100px;
}

.indivProjectAudioDiv {
  float: left;
  border-radius: 3px;
  margin-top: 2.5%;
  margin-left: 5px;
  width: 200px;
}

.indivProjectToolsDiv {
  float: left;
  width: 200px;
}
